<h1>   ABC Online Shopping</h1>



<p> Online ICICI Banking </p>

<!-- <p> NG Class</p>
<!-- <app-ng-style-example></app-ng-style-example>
 -->
<!-- 
<p> NG Style</p>
<app-ng-style-actual> </app-ng-style-actual> -->
 -->
<br> <br>

<!-- <a routerLink="/propertyBindingExample">Display Property Binding Example</a> <br>
 -->



<!-- <app-account></app-account>

<app-parent-templete> </app-parent-templete>


<h4> Ng on changes Example life Cycle</h4>
<app-ngonchange-exp-parent></app-ngonchange-exp-parent>

<br> <br>

<app-ngonchange-exp-flight-search></app-ngonchange-exp-flight-search>

<h3> Flight Name and Flight timings as parent child example</h3>

<app-flight-search></app-flight-search> -->

<app-ngcontentexp>  
CRP Report
</app-ngcontentexp>

<app-cus> </app-cus>

<div class="container">
    <br/>
    <router-outlet></router-outlet>
</div>

